/* ========================================================================================= */
/* ======================================= MAIN COLOR : #008080 =================================== */
/* ========================================================================================= */

.title:after {
	background: #008080;
}
.small-title:after {
	background: #008080;
}
.sidebar ul .active a:before {
	background: #008080;
}
.sidebar ul li a:hover::before {
	background: #008080;
}
.home-page .middle-l h3 span {
	background-color: #008080;
}
.info ul li a {
	border-color: #008080;
}
.services ul li .service-box:hover i {
	background: #008080;
	border-color: #008080;
}
.resume .column-left .icon {
	background: #008080;
}
.resume .column-right .icon {
	background: #008080;
}
.filter a:hover {
	border-bottom: 1px solid #008080;
}
.filter li a.active {
	border-bottom: 1px solid #008080;
}
.form-group input:focus,
.form-group textarea:focus {
	border-color: #008080;
}
.form-group .button {
	background: #008080;
}
.contact-info .item i {
	color: #008080;
}
.tooltip-div .tooltiptext {
	background-color: #307D7E;
}

.tooltip-div .tooltiptext::after {
	border-color: #307D7E transparent transparent transparent;
}